﻿@model ETOS.WebUI.ViewModels.CreateRequestViewModel

    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Форма добавления заявки</title>
        <link href="~/CSS/styles.css" rel="stylesheet" />
        <link href="~/CSS/bootstrap.min.css" rel="stylesheet" />
        <link href="~/CSS/bootstrap-theme.css" rel="stylesheet" />


        <script src="~/JS/jquery-2.2.4.min.js"></script>
        <script src="~/JS/bootstrap.js"></script>
        <script src="~/JS/angular.min.js"></script>
        <!-- 2. Подключить скрипт moment-with-locales.min.js для работы с датами -->
        <script src="~/JS/moment-with-locales.min.js"></script>
        <!-- 4. Подключить скрипт виджета "Bootstrap datetimepicker" -->
        <script src="~/JS/bootstrap-datetimepicker.min.js"></script>
        <!-- 6. Подключить CSS виджета "Bootstrap datetimepicker" -->
        <link href="~/CSS/bootstrap-datetimepicker.min.css" rel="stylesheet" />

        <script type="text/javascript">
    $(function () {
      $('#dataTravel').datetimepicker({language: 'ru',minuteStepping:10,defaultDate:"09.01.2015",daysOfWeekDisabled:[0,6]});
    });
        </script>
    </head>
    <body ng-app>

        <!--
         <div class="container">
            <div class="row">
                <div class="col-lg-7 col-lg-offset-4">
                    <h1>Создать заявку</h1>
                </div>
            </div>
            <form class="form-horizontal form-enter">
                <fieldset>
                    <div class="form-group">
                        <label for="Select" class="col-md-2 col-md-offset-2 control-label">Откуда:</label>
                        <div class="col-md-4">
                            <select id="from" class="form-control">
                                <option>Место 1</option>
                                <option>Место 2</option>
                                <option>Место 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Select" class="col-md-2 col-md-offset-2 control-label">Промежуточное место:</label>
                        <div class="col-md-1">
                            <input id="name" name="checkplace" type="checkbox" class="form-control input-md">
                        </div>
                        <div class="col-md-3">
                            <input id="otherplace" name="password" type="text" placeholder="Введите место" class="form-control input-md">
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="Select" class="col-md-2 col-md-offset-2 control-label">Куда:</label>
                        <div class="col-md-4">
                            <select id="to" class="form-control">
                                <option>Место 4</option>
                                <option>Место 5</option>
                                <option>Место 6</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" ng-model="password" class="col-md-2 col-md-offset-2 control-label">Дата и время:</label>
                        <div class="col-md-4">
                            <div class="input-group date" id="dataTravel">
                                <input type="text" class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon-calendar glyphicon"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Select" class="col-md-2 col-md-offset-2 control-label">Наличие багажа:</label>
                        <div class="col-md-4">
                            <select id="baggage" class="form-control">
                                <option>Багаж есть</option>
                                <option>Багажа нету</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" ng-model="password" class="col-md-2 col-md-offset-2 control-label">Комментарий:</label>
                        <div class="col-md-4">
                            <textarea id="name" name="password" type="text" class="form-control input-md"> </textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="singlebutton" class="col-md-1 col-md-offset-3 control-label"></label>
                        <div class="col-md-4">
                            <button id="singlebutton" name="singlebutton" class="btn btn-primary login-btn">Создать</button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>-->

     


        @using (Html.BeginForm("Create", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Создание заявки</h4>
            <hr />
            @Html.ValidationSummary()


            <div class="form-group">
                <text>Комментарий к заявке    </text>
                @Html.TextBoxFor(m => m.newRequest.Comment, new { @class = "form-control", @type = "hidden", @Value = User.Identity.GetUserName() })
            </div>

            <div class="form-group">
                <text>Комментарий к заявке    </text>
                @Html.TextBoxFor(m => m.newRequest., new { @class = "form-control", @type = "hidden", @Value = User.Identity.GetUserName() })
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Добавить новость" />
                </div>
            </div>
        </body>
    </html>