﻿@model ETOS.WebUI.ViewModels.RequestsViewModels.ShortRequestsViewModel
<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Форма отображения заявок</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <link href="~/CSS/styles.css" rel="stylesheet" />
    <link href="~/CSS/mybootstrap.css" rel="stylesheet" />
    <link href="~/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/CSS/bootstrap-select.css" rel="stylesheet" />
    <link href="~/CSS/bootstrap-datetimepicker.min.css" rel="stylesheet" />

    <!-- Add fancyBox -->
    <link href="~/CSS/jquery.fancybox.css" rel="stylesheet" />


    <script src="~/JS/moment-with-locales.min.js"></script>
    <script src="~/JS/jquery-2.2.4.min.js"></script>
    <script src="~/JS/bootstrap-datetimepicker.min.js"></script>
    <script src="~/JS/bootstrap.js"></script>
    <script src="~/JS/bootstrap-select.js"></script>
    <script src="~/JS/jquery.dataTables.js"></script>
    <script src="~/JS/angular.min.js"></script>
    <script src="~/JS/jquery.fancybox.pack.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox").fancybox();
        });

        /* API method to get paging information */
        $.fn.dataTableExt.oApi.fnPagingInfo = function (oSettings) {
            return {
                "iStart": oSettings._iDisplayStart,
                "iEnd": oSettings.fnDisplayEnd(),
                "iLength": oSettings._iDisplayLength,
                "iTotal": oSettings.fnRecordsTotal(),
                "iFilteredTotal": oSettings.fnRecordsDisplay(),
                "iPage": Math.ceil(oSettings._iDisplayStart / oSettings._iDisplayLength),
                "iTotalPages": Math.ceil(oSettings.fnRecordsDisplay() / oSettings._iDisplayLength)
            };
        }



        /* Bootstrap style pagination control */
        $.extend($.fn.dataTableExt.oPagination, {
            "bootstrap": {
                "fnInit": function (oSettings, nPaging, fnDraw) {
                    var oLang = oSettings.oLanguage.oPaginate;
                    var fnClickHandler = function (e) {
                        if (oSettings.oApi._fnPageChange(oSettings, e.data.action)) {
                            fnDraw(oSettings);
                        }
                    };

                    $(nPaging).addClass('pagination').append(
                        '<ul>' +
                            '<li class="prev disabled"><a href="#">&larr; ' + oLang.sPrevious + '</a></li>' +
                            '<li class="next disabled"><a href="#">' + oLang.sNext + ' &rarr; </a></li>' +
                        '</ul>'
                    );
                    var els = $('a', nPaging);
                    $(els[0]).bind('click.DT', { action: "previous" }, fnClickHandler);
                    $(els[1]).bind('click.DT', { action: "next" }, fnClickHandler);
                },

                "fnUpdate": function (oSettings, fnDraw) {
                    var oPaging = oSettings.oInstance.fnPagingInfo();
                    var an = oSettings.aanFeatures.p;
                    var i, sClass, iStart, iEnd, iHalf = Math.floor(oPaging.iTotalPages / 2);

                    if (oPaging.iTotalPages < 5) {
                        iStart = 1;
                        iEnd = oPaging.iTotalPages;
                    }
                    else if (oPaging.iPage <= iHalf) {
                        iStart = 1;
                        iEnd = 5;
                    } else if (oPaging.iPage >= (5 - iHalf)) {
                        iStart = oPaging.iTotalPages - 5 + 1;
                        iEnd = oPaging.iTotalPages;
                    } else {
                        iStart = oPaging.iPage - Math.ceil(5 / 2) + 1;
                        iEnd = iStart + 5 - 1;
                    }

                    for (i = 0, iLen = an.length ; i < iLen ; i++) {
                        // Remove the middle elements
                        $('li:gt(0)', an[i]).filter(':not(:last)').remove();

                        // Add the new list items and their event handlers
                        for (i = iStart ; i <= iEnd ; i++) {
                            sClass = (i == oPaging.iPage + 1) ? 'class="active"' : '';
                            $('<li ' + sClass + '><a href="#">' + i + '</a></li>')
                                .insertBefore('li:last', an[i])
                                .bind('click', function () {
                                    oSettings._iDisplayStart = (parseInt($('a', this).text(), 10) - 1) * oPaging.iLength;
                                    fnDraw(oSettings);
                                });
                        }

                        // Add / remove disabled classes from the static elements
                        if (oPaging.iPage === 0) {
                            $('li:first', an[i]).addClass('disabled');
                        } else {
                            $('li:first', an[i]).removeClass('disabled');
                        }

                        if (oPaging.iPage === oPaging.iTotalPages - 1) {
                            $('li:last', an[i]).addClass('disabled');
                        } else {
                            $('li:last', an[i]).removeClass('disabled');
                        }
                    }

                }
            }
        });

        $(document).ready(function () {

            //- $('#example').dataTable( {
            //-     "sDom": "<'row'<'span8'l><'span8'f>r>t<'row'<'span8'i><'span8'p>>"
            //- } );

            $('#example').dataTable({
                "sPaginationType": "bootstrap"

            });
        });
    </script>
</head>
<body>
    @Html.ActionLink("Выход", "LogOut", "Account");
    <a href=/Request/Create> Создать заявку</a>
    <h1>Мои заявки</h1>
    <table>
        <tr>
            <td>Статус</td>
            <td>Откуда</td>
            <td>Куда</td>
            <td>Адрес прибытия</td>
            <td>Дата время отправки</td>
        </tr>
        @foreach (var b in Model.RequestsList)
        {
            <tr>
                <td>@b.StatusId</td>
                <td>@b.DeparturePointId</td>
                <td>@b.DestinationPointId</td>
                <td>@b.DestinationAddress</td>
                <td>@b.DepartureDateTime</td>
        </tr>
        }
    </table>


    <!---
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-lg-offset-5">
                <h1>Мои заявки</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <h2>Фильтр</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="status">
                    <div>Статус заявки</div>
                    <select data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true" multiple="multiple" class="selectpicker stat">
                        <option value="На согласовании">На согласовании</option>
                        <option value="Поиск машины">Поиск машины</option>
                        <option value="Отклонена">Отклонена</option>
                        <option value="Отменена пользователем">Отменена пользователем</option>
                        <option value="Подтверждена">Подтверждена</option>
                        <option value="Завершена успешно">Завершена успешно</option>
                        <option value="Завершена не успешно">Завершена не успешно</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="from">
                    <div>Откуда</div>
                    <select data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true" multiple="multiple" class="selectpicker start_place">
                        <option value="Тольятти">Тольятти</option>
                        <option value="Самара">Самара</option>
                        <option value="Москва">Москва</option>
                        <option value="Санкт-Петергбург">Санкт-Петергбург</option>
                        <option value="Екатеринбург">Екатеринбург</option>
                        <option value="Новосибирск">Новосибирск</option>
                        <option value="Краснодар">Краснодар</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="to">
                    <div>Куда</div>
                    <select data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true" multiple="multiple" class="selectpicker finish_place">
                        <option value="Тольятти">Тольятти</option>
                        <option value="Самара">Самара</option>
                        <option value="Москва">Москва</option>
                        <option value="Санкт-Петергбург">Санкт-Петергбург</option>
                        <option value="Екатеринбург">Екатеринбург</option>
                        <option value="Новосибирск">Новосибирск</option>
                        <option value="Краснодар">Краснодар</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="priority">
                    <div class="radio">Приоритет</div>
                    <label>
                        Низкий
                        <input type="radio" name="priority" value="Низкий" />
                    </label>
                    <div class="radio"></div>
                    <label>
                        Высокий
                        <input type="radio" name="priority" value="Высокий" />
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 date">
                <div class="col-lg-12 col-md-7">

                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-lg-2">
                <div class="date">
                    Дата прибытия
                    <input type="date" />
                </div>
            </div>
            <div class="col-lg-3 col-lg-offset-1">
                <div class="contractor">
                    <div>Подрядчик</div>
                    <select data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true" multiple="multiple" class="selectpicker finish_place">
                        <option value="Шахид Такси">Шахид Такси</option>
                        <option value="Такси Везёт">Такси Везёт</option>
                        <option value="Едная служба такси">Едная служба такси</option>
                        <option value="Майами">Майами</option>
                    </select>
                </div>
            </div>
        </div>
        <table cellpadding="0" cellspacing="0" border="0" id="example" class="bordered-table zebra-striped">
            <thead>
                <tr>
                    <th>Место отправления</th>
                    <th>Промежуточная точка</th>
                    <th>Место прибытия</th>
                    <th>Дата и время отправления</th>
                    <th>Статус</th>
                    <th>Примерная дата и время прибытия</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX">
                    <td>Тольятти</td>
                    <td>нет</td>
                    <td>Самара</td>
                    <td class="center">16.04.2016</td>
                    <td class="center">выполнена</td>
                    <td>
                        <div class="date">17.04.2016  12:41</div>
                        <a class="fancybox btn btn-info" href="#detail_form">Подробнее</a>
                    </td>
                </tr>
                <tr class="odd gradeX">
                    <td>Тольятти</td>
                    <td>нет</td>
                    <td>Самара</td>
                    <td class="center">16.04.2016</td>
                    <td class="center">выполнена</td>
                    <td>
                        <div class="date">17.04.2016  12:41</div>
                        <a class="fancybox btn btn-info" href="#detail_form">Подробнее</a>
                    </td>
                </tr>
                <tr class="odd gradeX">
                    <td>Тольятти</td>
                    <td>нет</td>
                    <td>Самара</td>
                    <td class="center">16.04.2016</td>
                    <td class="center">выполнена</td>
                    <td>
                        <div class="date">
                            17.04.2016  12:41
                        </div>
                        <a class="fancybox btn btn-info" href="#detail_form">Подробнее</a>
                    </td>
                </tr>
                <tr class="odd gradeX">
                    <td>Тольятти</td>
                    <td>нет</td>
                    <td>Самара</td>
                    <td class="center">16.04.2016</td>
                    <td class="center">выполнена</td>
                    <td>
                        <div class="date">17.04.2016  12:41</div>
                        <a class="fancybox btn btn-info" href="#detail_form">Подробнее</a>
                    </td>
                </tr>
                <tr class="odd gradeX">
                    <td>Тольятти</td>
                    <td>нет</td>
                    <td>Самара</td>
                    <td class="center">16.04.2016</td>
                    <td class="center">выполнена</td>
                    <td>
                        <div class="date">17.04.2016  12:41</div>
                        <a class="fancybox btn btn-info" href="#detail_form">Подробнее</a>
                    </td>
                </tr>
                <tr class="odd gradeX">
                    <td>Тольятти</td>
                    <td>нет</td>
                    <td>Самара</td>
                    <td class="center">16.04.2016</td>
                    <td class="center">выполнена</td>
                    <td>
                        <div class="date">17.04.2016  12:41</div>
                        <a class="fancybox btn btn-info" href="#detail_form">Подробнее</a>
                    </td>
                </tr>
                <tr class="odd gradeX">
                    <td>Тольятти</td>
                    <td>нет</td>
                    <td>Самара</td>
                    <td class="center">16.04.2016</td>
                    <td class="center">выполнена</td>
                    <td>
                        <div class="date">17.04.2016  12:41</div>
                        <a class="fancybox btn btn-info" href="#detail_form">Подробнее</a>
                    </td>
                </tr>
                <tr class="odd gradeX">
                    <td>Тольятти</td>
                    <td>нет</td>
                    <td>Самара</td>
                    <td class="center">16.04.2016</td>
                    <td class="center">выполнена</td>
                    <td>
                        <div class="date">17.04.2016  12:41</div>
                        <a class="fancybox btn btn-info" href="#detail_form">Подробнее</a>
                    </td>
                </tr>
                <tr class="even gradeC">
                    <td>Самара</td>
                    <td>Аэропорт Курумоч</td>
                    <td>Москва</td>
                    <td class="center">21.04.2016</td>
                    <td class="center">Отменена</td>
                    <td>
                        <div class="date">12.04.2016  12:41</div>
                        <a class="fancybox btn btn-info" href="#detail_form">Подробнее</a>
                    </td>
                </tr>
                <tr class="even gradeC">
                    <td>Самара</td>
                    <td>Аэропорт Курумоч</td>
                    <td>Москва</td>
                    <td class="center">21.04.2016</td>
                    <td class="center">Отменена</td>
                    <td>
                        <div class="date">12.04.2016  12:41</div>
                        <a class="fancybox btn btn-info" href="#detail_form">Подробнее</a>
                    </td>
                </tr>
                <tr class="even gradeC">
                    <td>Самара</td>
                    <td>Аэропорт Курумоч</td>
                    <td>Москва</td>
                    <td class="center">21.04.2016</td>
                    <td class="center">Отменена</td>
                    <td>
                        <div class="date">12.04.2016  12:41</div>
                        <a class="fancybox btn btn-info" href="#detail_form">Подробнее</a>
                    </td>
                </tr>
                <tr class="even gradeC">
                    <td>Самара</td>
                    <td>Аэропорт Курумоч</td>
                    <td>Москва</td>
                    <td class="center">21.04.2016</td>
                    <td class="center">Отменена</td>
                    <td>
                        <div class="date">12.04.2016  12:41</div>
                        <a class="fancybox btn btn-info" href="#detail_form">Подробнее</a>
                    </td>
                </tr>
                <tr class="even gradeC">
                    <td>Самара</td>
                    <td>Аэропорт Курумоч</td>
                    <td>Москва</td>
                    <td class="center">21.04.2016</td>
                    <td class="center">Отменена</td>
                    <td>
                        <div class="date">12.04.2016  12:41</div>
                        <a class="fancybox btn btn-info" href="#detail_form">Подробнее</a>
                    </td>
                </tr>
                <tr class="even gradeC">
                    <td>Самара</td>
                    <td>Аэропорт Курумоч</td>
                    <td>Москва</td>
                    <td class="center">21.04.2016</td>
                    <td class="center">Отменена</td>
                    <td>
                        <div class="date">12.04.2016  12:41</div>
                        <a class="fancybox btn btn-info" href="#detail_form">Подробнее</a>
                    </td>
                </tr>
                <tr class="even gradeC">
                    <td>Самара</td>
                    <td>Аэропорт Курумоч</td>
                    <td>Москва</td>
                    <td class="center">21.04.2016</td>
                    <td class="center">Отменена</td>
                    <td>
                        <div class="date">12.04.2016  12:41</div>
                        <a class="fancybox btn btn-info" href="#detail_form">Подробнее</a>
                    </td>
                </tr>
                <tr class="even gradeC">
                    <td>Самара</td>
                    <td>Аэропорт Курумоч</td>
                    <td>Москва</td>
                    <td class="center">21.04.2016</td>
                    <td class="center">Отменена</td>
                    <td>
                        <div class="date">12.04.2016  12:41</div>
                        <a class="fancybox btn btn-info" href="#detail_form">Подробнее</a>
                    </td>
                </tr>
                <tr class="even gradeC">
                    <td>Cанкт-Петербург</td>
                    <td>Аэропорт Пулково</td>
                    <td>Екатеринбург</td>
                    <td class="center">20.05.2016</td>
                    <td class="center">В обработке</td>
                    <td>
                        <div class="date">21.05.2016  12:41</div>
                        <a class="fancybox btn btn-info" href="#detail_form">Подробнее</a>
                    </td>
                </tr>
                <tr class="even gradeC">
                    <td>Cанкт-Петербург</td>
                    <td>Аэропорт Пулково</td>
                    <td>Екатеринбург</td>
                    <td class="center">20.05.2016</td>
                    <td class="center">В обработке</td>
                    <td>
                        <div class="date">21.05.2016  12:41</div>
                        <a class="fancybox btn btn-info" href="#detail_form">Подробнее</a>
                    </td>
                </tr>
                <tr class="even gradeC">
                    <td>Cанкт-Петербург</td>
                    <td>Аэропорт Пулково</td>
                    <td>Екатеринбург</td>
                    <td class="center">20.05.2016</td>
                    <td class="center">В обработке</td>
                    <td>
                        <div class="date">21.05.2016  12:41</div>
                        <a class="fancybox btn btn-info" href="#detail_form">Подробнее</a>
                    </td>
                </tr>
                <tr class="even gradeC">
                    <td>Cанкт-Петербург</td>
                    <td>Аэропорт Пулково</td>
                    <td>Екатеринбург</td>
                    <td class="center">20.05.2016</td>
                    <td class="center">В обработке</td>
                    <td>
                        <div class="date">21.05.2016  12:41</div>
                        <a class="fancybox btn btn-info" href="#detail_form">Подробнее</a>
                    </td>
                </tr>
                <tr class="even gradeC">
                    <td>Cанкт-Петербург</td>
                    <td>Аэропорт Пулково</td>
                    <td>Екатеринбург</td>
                    <td class="center">20.05.2016</td>
                    <td class="center">В обработке</td>
                    <td>
                        <div class="date">21.05.2016  12:41</div>
                        <a class="fancybox btn btn-info" href="#detail_form">Подробнее</a>
                    </td>
                </tr>
                <tr class="even gradeC">
                    <td>Cанкт-Петербург</td>
                    <td>Аэропорт Пулково</td>
                    <td>Екатеринбург</td>
                    <td class="center">20.05.2016</td>
                    <td class="center">В обработке</td>
                    <td>
                        <div class="date">21.05.2016  12:41</div>
                        <a class="fancybox btn btn-info" href="#detail_form">Подробнее</a>
                    </td>
                </tr>
                <tr class="even gradeC">
                    <td>Cанкт-Петербург</td>
                    <td>Аэропорт Пулково</td>
                    <td>Екатеринбург</td>
                    <td class="center">20.05.2016</td>
                    <td class="center">В обработке</td>
                    <td>
                        <div class="date">21.05.2016  12:41</div>
                        <a class="fancybox btn btn-info" href="#detail_form">Подробнее</a>
                    </td>
                </tr>
                <tr class="even gradeC">
                    <td>Cанкт-Петербург</td>
                    <td>Аэропорт Пулково</td>
                    <td>Екатеринбург</td>
                    <td class="center">20.05.2016</td>
                    <td class="center">В обработке</td>
                    <td>
                        <div class="date">21.05.2016  12:41</div>
                        <a class="fancybox btn btn-info" href="#detail_form">Подробнее</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
         
    <div class="fancy_form">
        <div id="detail_form">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-4"><h2>Подробное описание заявки</h2></div>
                </div>
    
                <table cellpadding="0" cellspacing="0" border="0" id="example" class="bordered-table zebra-striped">
                    <thead>
                        <tr>
                            <th>Код создателя заявки</th>
                            <th>Пассажиры</th>
                            <th>Точка отправки</th>
                            <th>Промежуточные точки</th>
                            <th>Точка прибытия</th>
                            <th>Дата и время отправления</th>
                            <th>Количество мест</th>
                            <th>Багаж</th>
                            <th>Комментарий</th>
                            <th>Код статуса</th>
                            <th>Детали поездки</th>
                            <th>Стоимость</th>
                            <th>Примерное дата и время прибытия</th>
                            <th>Дата и время создания заявки</th>
                            <th>Дата и время закрытия заявки</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Вася, Петя, Маша
                            </td>
                            <td>
                                3
                            </td>
                            <td>
                                Тольятти
                            </td>
                            <td>
                                Аэропорт Курумоч
                            </td>
                            <td>
                                Москва
                            </td>
                            <td>
                                30.11.2016 14:00
                            </td>
                            <td>
                                3
                            </td>
                            <td>
                                нет
                            </td>
                            <td>
                                Командировка в Москву
                            </td>
                            <td>
                                2
                            </td>
                            <td>
                                Нужна машина с кондиционером
                            </td>
                            <td>
                                750 руб.
                            </td>
                            <td>
                                30.11.2016 18:00
                            </td>
                            <td>
                                28.11.2016 10:00
                            </td>
                            <td>
                                30.11.2016 19:00
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    -->

</body>
</html>