﻿@{
	ViewBag.Title = "Home Page";
}


<!doctype html>
<html ng-app="purchaseApp">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body ng-controller="purchaseController">


	<div class="page-header">
		<h1>Example</h1>
	</div>

	<table></table>

	<div class="panel">
		<div class="form-inline">
			<div class="form-group">
				<div class="col-md-8">
					<input class="form-control" ng-model="text" placeholder="Название" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-6">
					<input type="number" class="form-control" ng-model="price" placeholder="Цена" />
				</div>
			</div>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Examples</th>
					<th>One Example</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Here lots of cams</th>
					<th>One big cam</th>
				</tr>
				<tr>
					<th>Empty</th>
					<th>
						<div class="form-group">
							<div>
								<button class="btn btn-default" ng-click="prevPhotoBut()">Предыдущий</button>
								<button class="btn btn-default" ng-click="nextPhotoBut()">Следующий</button>
								<button class="btn btn-default" ng-click="downloadPhotoBut()">Скачать</button>
							</div>
						</div>
					</th>
				</tr>
				<tr>
					<th>Empty</th>
					<th>Listbox</th>
				</tr>
			</tbody>
		</table>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
	<script>
		var model = {
			items: [
				{ purchase: "Хлеб", done: false, price: 15.9 },
				{ purchase: "Масло", done: false, price: 60 },
				{ purchase: "Картофель", done: true, price: 22.6 },
				{ purchase: "Сыр", done: false, price: 310 }
			]
		};
		var purchaseApp = angular.module("purchaseApp", []);
		purchaseApp.controller("purchaseController", function ($scope) {
			$scope.list = model;
			$scope.addItem = function (text, price) {
				price = parseFloat(price); // преобразуем введенное значение к числу
				if (text != "" && !isNaN(price)) // если текст установлен и введено число, то добавляем
				{
					$scope.list.items.push({ purchase: text, price: price, done: false });
				}
			}
		});
	</script>
</body>
</html>