﻿@using Microsoft.AspNet.Identity
@model NewsProject.Models.HomeViewModels.AddNewsViewModel
@{
ViewBag.Title = "AddNews";
Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("AddNews", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Добавление новости</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @if (!Request.IsAuthenticated)
        {
            @Html.LabelFor(m => m.NewNews.Author, new {@class = "col-md-2 control-label"})
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.NewNews.Author, new {@class = "form-control"})
            </div>
        }
        else
        {
            @Html.TextBoxFor(m => m.NewNews.Author, new { @class = "form-control" , @type = "hidden", @Value = User.Identity.GetUserName() })
        }
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewNews.Head, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.NewNews.Head, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewNews.Annotation, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">        
            @Html.TextAreaFor(m => m.NewNews.Annotation, 5, 200, null)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewNews.Body, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">            
            @Html.TextAreaFor(m => m.NewNews.Body, 10, 200, null)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Добавить новость" />
        </div>
    </div>
}