﻿@using Microsoft.AspNet.Identity
@model NewsProject.Models.HomeViewModels.EditViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Редактирование новости</h4>
        <hr />
        <h5>Можно использовать HTML теги</h5>
        <hr />
        @Html.ValidationSummary()

        @Html.HiddenFor(m => m.NewsToEdit.Id, Model.NewsToEdit.Id)
@Html.HiddenFor(m => m.NewsToEdit.CreationDate, DateTime.Now )

        <div class="form-group">
            @if (!Request.IsAuthenticated)
            {
                @Html.LabelFor(m => m.NewsToEdit.Author, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.NewsToEdit.Author, new { @class = "form-control" })
                </div>
            }
            else
            {
                @Html.TextBoxFor(m => m.NewsToEdit.Author, new { @class = "form-control", @type = "hidden", @Value = User.Identity.GetUserName() })
            }
            
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewsToEdit.Head, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.NewsToEdit.Head, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewsToEdit.Annotation, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.NewsToEdit.Annotation, 5, 200, null)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewsToEdit.Body, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.NewsToEdit.Body, 10, 200, null)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Сохранить" />
            </div>
        </div>
}
