﻿@model NewsProject.Models.HomeViewModels.NewsViewModel
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Новостной блог";
}
<h1>Лента новостей</h1>
<br />
<div>   
    <table>
        @foreach (var b in Model.NewsPagesList)
            {            
            <tr>
                <td><h3><a href=/Home/More/@b.Id>@b.Head</a></h3></td>
            </tr>                 
            <tr>
                <td><p>@b.Annotation</p></td>
            </tr>
            <tr>
                <td><p align="left">@string.Format("{0:dd.MM.yyyy}", b.CreationDate.Date)</p></td>
                <td><p align="left">@string.Format("{0}", b.Author)</p></td>
            </tr>
        }
    </table>    
</div>

<br />
    Страница @(Model.NewsPagesList.PageCount < Model.NewsPagesList.PageNumber ? 0 : Model.NewsPagesList.PageNumber) из @Model.NewsPagesList.PageCount

@Html.PagedListPager(Model.NewsPagesList, page => Url.Action("Index", new { page }))
