﻿@model ETOS.Core.DTO.DtoAccount

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Служба заказа такси</title>

    <link href="~/CSS/styles.css" rel="stylesheet" />
    <link href="~/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/bootstrap-theme.css" rel="stylesheet" />

    <script src="~/JS/jquery-2.2.4.min.js"></script>
    <script src="~/JS/bootstrap.js"></script>
    <script src="~/JS/angular.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-lg-offset-4">
                <h1>Войти в систему</h1>
            </div>
        </div>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal form-enter" }))
        {
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(x => x.Username, new { @class = "col-md-1 col-md-offset-3 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.Username,
                       new
                       {
                           @placeholder = "Введите имя пользователя",
                           @class = "form-control input-md"
                       })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Password, new { @class = "col-md-1 col-md-offset-3 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.Password,
                       new
                       {
                           @placeholder = "Введите имя пользователя",
                           @class = "form-control input-md"
                       })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Persistent, new { @class = "col-md-1 col-md-offset-3 control-label" })
                <div class="col-md-4">
                    @Html.CheckBoxFor(x => x.Persistent,
                       new
                       {
                           @placeholder = "Введите имя пользователя",
                           @class = "form-control checkbox"
                       })
                </div>
            </div>
            <input type="submit" value="Вход" class="btn btn-primary login-btn" />
        }
    </div>
</body>
</html>