﻿@{
	ViewBag.Title = "Angular example";

}

<!doctype html>
<html ng-app="purchaseApp">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body ng-controller="purchaseController">
	<div class="page-header">
		<h1> Список покупок </h1>
	</div>
	<div class="panel">
		<div class="form-inline">
			<div class="form-group">
				<div class="col-md-8">
					<input class="form-control" ng-model="text" placeholder="Название" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-6">
					<input type="number" class="form-control" ng-model="price" placeholder="Цена" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-8">
					<button class="btn btn-default" ng-click="addItem(text, price)">Добавить</button>
				</div>
			</div>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Предмет</th>
					<th>Цена</th>
					<th>Куплено</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in list.items">
					<td>{{item.purchase}}</td>
					<td>{{item.price}}</td>
					<td><input type="checkbox" ng-model="item.done" /></td>
				</tr>
			</tbody>
		</table>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
	<script src="~/Scripts/App/HomeController.js"></script>
</body>
</html>