﻿@model adonet.BAL.Models.HomeViewModels.IndexPageViewModel
@using adonet.BAL

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Заказы";
    Layout = null;
}
<center> <h2>Заказы</h2></center>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <p>
            <table>
                <tr>
                    <td align="right">
                        @Html.LabelFor(m => m.Cities, new { @class = "col-md-2 control-label" })
                    </td>
                    <td align="left">
                        @Html.DropDownListFor(a => a.ChoosedCity, Model.Cities, "Выберите город", new { @class = "form-control", style = "width: 200px;" })
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        @Html.LabelFor(m => m.Countries, new { @class = "col-md-2 control-label" })
                    </td>
                    <td align="left" >
                        @Html.DropDownListFor(a => a.ChoosedCountry, Model.Countries, "Выберите страну", new { @class = "form-control", style = "width: 200px;" })
                    </td>
                </tr>
                <tr>
                    <td align="right" >
                        @Html.LabelFor(m => m.PagesOnView, new { @class = "col-md-2 control-label" })
                    </td>
                    <td align="left">
                        @Html.TextBoxFor(a => a.PagesOnView, new { @class = "form-control", style = "width: 200px; text-align:center" })
                    </td>
                </tr>

                <tr>
                    <td align="right" >

                    </td>
                    <td>
                        <input type="submit" value="Фильтр" class="form-control" style="width: 200px" />
                    </td>
                </tr>
            </table>
        </p>
    }

    <br />
    <div class="btn-group">
        @Html.PageLinks(Model.Pageinfo, x => Url.Action("Index", new { page = x }))
    </div>

    <br />
    <div>
        Страница @Model.Pageinfo.PageNumber из @Model.Pageinfo.TotalPages
    </div>

    <br />
    <div>
        <table border="1">
            <tr>
                <td align="center" width="250"><p><b>Сотрудник</b></p></td>
                <td align="center" width="250"><p><b>Покупатель</b></p></td>
                <td align="center" width="250"><p><b>Товар</b></p></td>
                <td align="center" width="200"><p><b>Дата заказа</b> </p></td>
                <td align="center" width="200"><p><b>Город</b></p></td>
                <td align="center" width="200"><p><b>Страна</b></p></td>
            </tr>
            @foreach (var b in Model.DbData)
            {
                <tr>
                    <td align="center">
                        <p>@b.Employee</p>
                    </td>
                    <td align="center">
                        <p>@b.CustomerId</p>
                    </td>
                    <td align="center">
                        <p>@b.ProductName</p>
                    </td>
                    <td align="center">
                        <p>@string.Format("{0:dd.MM.yyyy}", b.OrderDate)</p>
                    </td>
                    <td align="center">
                        <p>@b.City</p>
                    </td>
                    <td align="center">
                        <p>@b.Country</p>
                    </td>
                </tr>
            }
        </table>
    </div>

    <br />
    <div class="btn-group">
        @Html.PageLinks(Model.Pageinfo, x => Url.Action("Index", new { page = x }))
    </div>

    <br />
    <div>
        Страница @Model.Pageinfo.PageNumber из @Model.Pageinfo.TotalPages
    </div>




