<!DOCTYPE html>
<html lang="en" data-framework="typescript">

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
	<script src="scripts/scr.js"></script>
	<link href="site.css" rel="stylesheet">
</head>

<body ng-app="myApp" ng-controller="createRequestController">

	<h1>Создание заявки</h1>

	<table>
		<tr>
			<td>Точка отправки:</td>
			<td>
				<select ng-model="fromPoint">
				<option ng-repeat="x in cars" value="{{x.id}}">{{x.adress}}</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Точка прибытия:</td>
			<td><select ng-model="destinationPoint">
			<option ng-repeat="x in cars" value="{{x.id}}">{{x.adress}}</option>
			</select>
			</td>
		</tr>

		<tr>
			<td>Дата время выезда:</td>
			<td> <input type="datetime-local" ng-model="datetimeGo"> </td>
		</tr>

		<tr>
			<td>Коментарий:</td>
			<td><input type="text" ng-model="commentary"> </td>
		</tr>
		<tr>
			<td></td>
			<td><button ng-click="submit()">Создать заявку</button></td>
		</tr>
		<tr>
			<td>{{Errors}}</td>			
		</tr>

	</table>


	<div>
		<p>
			результат: {{result}}</p>
		</p>
	</div>


</body>

</html>